.game-section {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  margin: 0px;
  padding: 0px;
}

.game-section > * {
  width: 33.3vw;
  text-align: center;
}
