body {
  background-image: url("https://res.cloudinary.com/dm303fk5u/image/upload/v1514112837/starwars_ydskyc.jpg");
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

li{
  list-style-type: none;
  text-align: left;
}

.loading-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loading-info < * {
  display: block;
  width: 100%;
}
